@model IEnumerable<WebApp.WebReference.tb_bom_u375>
@using GridMvc.Html
@{
    ViewBag.Title = "BOM";
}

<h3>Bill of material Line U375 </h3>
@*<h4>
    Result @Model.Count() Items
</h4>*@

<div class="container">
    <div class="row">
        <div class='col-xs-3'>
            @using (Html.BeginForm("Find", "U375", FormMethod.Get))
            {
                <div class="input-group">
                    @Html.TextBox("id", null, new { @class = "form-control" })
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            }
        </div>
        <div class='col-sm-3'>
            @using (Html.BeginForm("BOM", "U375", FormMethod.Get))
            {
                <button type="submit" class="btn btn-danger">Clear</button>
            }
        </div>
    </div>
</div>

<div>
    @Html.Grid(Model).Columns(col =>
{
    col.Add(c => c.bom_id).Titled("BOM ID");
    col.Add(c => c.u_ohc).Titled("OHC");
    col.Add(c => c.u_map_lamp).Titled("Map Lamp");
    col.Add(c => c.u_dome_lamp).Titled("Dome Lamp");
    col.Add(c => c.u_remote).Titled("Remote");
    col.Add(c => c.u_wire).Titled("Wire");
}).WithPaging(10).Sortable(false)
</div>