@model IEnumerable<WebApp.WebReference.tb_bom_u375>
@using GridMvc.Html
@{
    ViewBag.Title = "BOM";
}

<h2>BOM</h2>

<div>
    @Html.Grid(Model).Columns(col =>
{
    col.Add(c => c.bom_id).Titled("BOM ID");
    col.Add(c => c.u_ohc).Titled("OHC");
    col.Add(c => c.u_map_lamp).Titled("Map Lamp");
    col.Add(c => c.u_dome_lamp).Titled("Dome Lamp");
    col.Add(c => c.u_remote).Titled("Remote");
    col.Add(c => c.u_wire).Titled("Wire");
}).WithPaging(10).Sortable(false);
</div>