@model IEnumerable<WebApp.WebReference.CL_AAT_Order>
@using GridMvc.Html
@{
    ViewBag.Title = "ORDER";
}

<h2> Result : @Model.Count() Items</h2>

@*<div class="container">
    <div class="row">
        <div class='col-xs-3'>
            @using (Html.BeginForm("ORDER", "AAT", FormMethod.Get))
            {
                <div class="input-group">
                    @Html.TextBox("_date", null, new { @class = "form-control datepicker" })
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            }
        </div>
    </div>
</div>*@

<div class="container">
    <div class="row">
        <div class='col-xs-3'>
            <div class="form-group">
                <div class='input-group date' id='datepicker'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('.datepicker').datepicker();
            });
        </script>
    </div>
</div>


<div>
    @Html.Grid(Model).Columns(col =>
{
    col.Add(c => c.PLANT);
    col.Add(c => c.SUPPL);
    col.Add(c => c.LINE);
    col.Add(c => c.TRIM_ON);
    col.Add(c => c.NHKA_CODE);
    col.Add(c => c.PART_NUMBER);
    col.Add(c => c.VIN_NUMBER);
    col.Add(c => c.STATUS);
}).WithPaging(10).Sortable(false)
</div>

@*<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker();
    });
</script>*@
